<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, appUser-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student list</title>
</head>
<body>
<h1>Student list</h1>
<table>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>AGE</th>
        <th>EDIT</th>
        <th>DELETE</th>
    </tr>
    <tr th:each="s : ${studentList}">
        <td th:text="${s.id}"/>
        <td th:text="${s.name}"/>
        <td th:text="${s.age}"/>
        <td>
            <a th:href="@{http://localhost:8080/students/{id}(id = ${s.getId()})}">EDIT</a>
        </td>
        <td>
            <a th:href="@{http://localhost:8080/students/delete/{id}(id = ${s.getId()})}">DELETE</a>
        </td>
    </tr>
</table>
<a href="/students/add">Add new student</a>
</body>
</html>